<mat-card
  ><mat-card-title>Show sorted products</mat-card-title
  ><mat-card-content
    ><mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option
        role="listoption"
        *ngFor="let item of sortOptions$ | async"
        [value]="item"
        [routerLink]="['/list-2-route-sort-single-products-backend']"
        [queryParams]="{ sort: item }"
      >
        {{ item }}
      </mat-list-option>
    </mat-selection-list> </mat-card-content
  ><mat-chip-list aria-label="Fish selection">
    <mat-chip *ngFor="let item of sortedProducts$ | async">
      {{ item.title }}
    </mat-chip>
  </mat-chip-list></mat-card
>
