<mat-card
  ><mat-card-title>Limit</mat-card-title
  ><mat-card-content>
    <mat-button-toggle-group
      [formControl]="buttonForm"
      name="fontStyle"
      aria-label="Font Style"
    >
      <mat-button-toggle
        [checked]="item == (limitParams$ | async)"
        [routerLink]="[]"
        [queryParams]="{ limit: item }"
        value="{{ item }}"
        *ngFor="let item of buttonOptions$ | async"
        >{{ item }}</mat-button-toggle
      >
    </mat-button-toggle-group>
    <mat-card-content>
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu [formControl]="buttonForm" ngDefaultControl #menu="matMenu">
        <button
          mat-menu-item
          [routerLink]="[]"
          [queryParams]="{ limit: item }"
          [disabled]="item == (limitParams$ | async)"
          value="{{ item }}"
          (click)="onClickMenuItem(item)"
          *ngFor="let item of buttonOptions$ | async"
        >
          {{ item }}
        </button>
      </mat-menu>
      <mat-list role="list"
        ><mat-list-item
          role="listitem"
          *ngFor="let item of products$ | async"
          >{{ item.title }}</mat-list-item
        ></mat-list
      ></mat-card-content
    >
  </mat-card-content></mat-card
>
