<mat-card *ngFor="let product of products$ | async">
  <ng-container *ngIf="product | async as prod">
    <mat-card-title>
      {{ prod.mainProduct.title }} for only {{ prod.mainProduct.price | currency }}</mat-card-title
    >
    <mat-card-subtitle [ngStyle]="{ fontWeight: 'bold' }">Other products:</mat-card-subtitle>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip *ngFor="let subProduct of prod.otherProducts">{{ subProduct.title }}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </ng-container>
</mat-card>
