<mat-chip-list aria-label="Fish selection">
  <mat-chip *ngFor="let item of displayedCryptos$ | async">
    {{ item }}
  </mat-chip>
</mat-chip-list>
<form [formGroup]="cryptoForm">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Search for Crypto</mat-label>
      <input
        (ngModelChange)="setInputCrypto($event)"
        type="text"
        placeholder="Pick one"
        matInput
        formControlName="cryptoSymbol"
        [matAutocomplete]="cryptoSymbol"
      /><mat-autocomplete #cryptoSymbol="matAutocomplete">
        <mat-option
          (click)="addCrypto(item.symbol)"
          *ngFor="let item of autocompleteCryptos | async"
          [value]="item.symbol"
        >
          {{ item.symbol }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>
