<mat-card
  ><mat-card-title>Show Cities</mat-card-title
  ><mat-card-content>
    <mat-label>Select page</mat-label>
    <mat-selection-list
      (selectionChange)="onPageChange($event)"
      *ngIf="params$ | async as params"
      role="list"
      fxLayout="row"
      [multiple]="false"
    >
      <mat-list-option
        [selected]="params['pageNumber'] == item"
        role="listoption"
        *ngFor="let item of pages$ | async"
        [value]="item"
      >
        {{ item }}
      </mat-list-option>
    </mat-selection-list>
    <mat-label>Select item per page</mat-label>
    <mat-selection-list
      *ngIf="params$ | async as params"
      role="list"
      fxLayout="row"
      [multiple]="false"
      (selectionChange)="onPageSizeChange($event)"
    >
      <mat-list-option
        [selected]="params['pageSize'] == item"
        role="listoption"
        *ngFor="let item of pageSize$ | async"
        [value]="item"
      >
        {{ item }}
      </mat-list-option>
    </mat-selection-list>
    <mat-list role="list"
      ><mat-list-item role="listitem" *ngFor="let item of filteredCities$ | async"
        >{{ item.id }}: {{ item.name }}</mat-list-item
      ></mat-list
    ></mat-card-content
  ></mat-card
>
