.container {
  display: flex;
  justify-content: space-between;

  .preview {
    width: 60%;
    margin: 0 auto;
    border-radius: 20%;
  }

  form {
    margin-bottom: 20px;
  }
}

.btn {
  color: white;
  padding: 2px 5px;
  background-color: rgb(13, 47, 113);
}

.btn:disabled {
  background-color: grey;
}
