<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="!data.isLoading; else isLoading">
    <ng-container *ngIf="!data.isError; else isError">
      <mat-list role="list"
        ><mat-list-item role="listitem" *ngFor="let item of data.names">{{
          item.name
        }}</mat-list-item></mat-list
      >
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #isError>Oops something went wrong!</ng-template>
<ng-template #isLoading
  ><mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50">
  </mat-progress-spinner
></ng-template>
<br />
<button (click)="onRefresh()" mat-raised-button [color]="'primary'">Refresh</button>
