<mat-card
  ><mat-card-title>Sort by salary</mat-card-title
  ><mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option
        role="option"
        *ngFor="let item of sorting | async"
        (click)="sort(item)"
        [value]="item"
      >
        {{ item }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content></mat-card
>

<mat-card
  ><mat-card-title>Filter by age</mat-card-title
  ><mat-card-content>
    <mat-selection-list role="list" fxLayout="row" [multiple]="false">
      <mat-list-option
        role="option"
        *ngFor="let item of filterByAge | async"
        [value]="item"
        (click)="filter(item)"
      >
        {{ item.text }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content></mat-card
>

<mat-card
  ><mat-card-title>List of Employees: </mat-card-title
  ><mat-card-content>
    <mat-list role="list" *ngFor="let item of employees$ | async">
      <mat-list-item role="listitem"
        >{{ item.employee_name }} : salary:&nbsp;
        <strong> {{ item.employee_salary.toLocaleString() }} </strong>&nbsp; ||
        age:&nbsp;
        <strong> {{ item.employee_age }} </strong>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
