<mat-grid-list cols="2" rowHeight="1:2">
  <mat-grid-tile>
    <mat-list role="list"
      ><mat-list-item role="listitem" *ngFor="let item of employees$ | async"
        >{{ item.employee_name }}
        <button mat-button color="primary" (click)="showDetails(item.id)">
          Show salary
        </button>
      </mat-list-item></mat-list
    >
  </mat-grid-tile>
  <mat-grid-tile *ngIf="employeeDetail$ | async as item"
    >{{ item.employee_name }} : {{ item.employee_salary }}$</mat-grid-tile
  >
</mat-grid-list>
