<mat-card
  ><mat-card-title>List of Employees: </mat-card-title
  ><mat-card-content>
    <mat-list role="list" *ngFor="let item of refreshedEmployees$ | async">
      <mat-list-item role="listitem"
        >{{ item.employee_name }} : salary:&nbsp;
        <strong> {{ item.employee_salary.toLocaleString() }} </strong>&nbsp; ||
        age:&nbsp;
        <strong> {{ item.employee_age }} </strong>
        <button
          mat-raised-button
          color="warn"
          (click)="deleteEmployee(item.id)"
        >
          Remove Employee
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
