<form [formGroup]="countryForm">
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Country</mat-label
      ><input
        (ngModelChange)="setCountry($event)"
        matInput
        type="text"
        placeholder="Country"
        formControlName="country"
        required
      /><mat-error *ngIf="countryForm.get('country')!.invalid"
        >country is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div></div>
</form>
<ng-container *ngIf="country$ | async; else emptyInput">
  <ng-container *ngIf="universities$ | async as items">
    <mat-list role="list" *ngIf="items.length > 0; else emptyUniversities"
      ><mat-list-item role="listitem" *ngFor="let item of items">{{
        item.name
      }}</mat-list-item></mat-list
    >
  </ng-container>
</ng-container>

<ng-template #emptyInput
  >Type any valid country in a search box above</ng-template
>
<ng-template #emptyUniversities
  >Did not find any universities for this country :(</ng-template
>
