<mat-card
  ><mat-card-title> Categories list </mat-card-title
  ><mat-card-content>
    <ng-container
      *ngIf="checkboxCategories$ | async as checkboxCategories; else loading"
    >
      <section *ngIf="checkboxCategories.length < 0; else emptyState">
        <mat-checkbox *ngFor="let item of checkboxCategories$ | async">{{
          item
        }}</mat-checkbox>
      </section>

      <ng-template #emptyState>
        <div style="text-align: center">
          <img style="height: 500px" src="assets/no-data.jpg" alt="No Data" />
        </div>
        <div style="text-align: center">
          <a
            href="https://www.freepik.com/free-vector/no-data-concept-illustration_5928292.htm#query=no%20data%20found&position=0&from_view=keyword"
            >Image by storyset</a
          >
          on Freepik
        </div>
      </ng-template></ng-container
    >
    <ng-template #loading>
      <mat-progress-spinner
        [color]="'accent'"
        [mode]="'indeterminate'"
        [value]="50"
      >
      </mat-progress-spinner
    ></ng-template> </mat-card-content
></mat-card>
