<mat-card
  ><mat-card-title>Beers:</mat-card-title
  ><mat-card-content>
    <mat-list role="list"
      ><mat-list-item role="listitem" *ngFor="let item of beers$ | async">
        {{ item.name }}</mat-list-item
      ></mat-list
    >
    <mat-paginator
      *ngIf="pageOptions$ | async as pageOptions"
      [length]="100"
      [pageSize]="pageOptions.pageSize"
      [pageSizeOptions]="[5, 10, 20, 50]"
      aria-label="Select page"
      (page)="loadBeers($event)"
    >
    </mat-paginator> </mat-card-content
></mat-card>
